
/* PORTFOLIO */


a{
    text-decoration: none;
}
li{
    list-style: none;
}


body{
    font-family: 'Roboto', sans-serif;
 
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-sect{
 padding-top: 94px;
 padding-bottom: 94px;
}


/* WebStudio */

.title{
margin-right: 93px;
display: inline-block;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
width: 145px;
height: 31px;
color: #2196F3;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accent-main{
    color:black;
}

/* Menu nav */
.nav{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.nav .item{
    margin-right: 50px;
}

.nav .item:nth-child(3n){
    margin-right: 0px;
}

.nav-list{
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}


.nav-list .item{
    margin-left: 50px;
}



.nav-list .item:first-child{
    margin-left: 0px;
}

.main-nav-flex{
    display: flex;
    align-items: center;

}

.head{
    border-bottom: 1px solid #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;

}

.headline_1{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.headline_1:hover{color:#2196F3;}

.headline_2{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.headline_2:hover{color: #2196F3;}

.headline_3{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121
}
.headline_3:hover{color:#2196F3;}

.caption_1{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.caption_1:hover,
.caption_1:focus{
    color: #2196F3;
    fill: #2196F3;
}


.caption_2{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.caption_2:hover,
.caption_2:focus{
    color: #2196F3;
    fill: #2196F3;
}


/* Main nav */




.row{
    padding: 0px;
    margin-bottom: 54px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.row .content-li{
    margin-right: 8px;

}


.row .content-li:nth-child(5n){
    margin-right: 0px;
}



.btn{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.btn:hover,
.btn:focus{
    background-color: #2196F3;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}



.list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.list .content-li{
    margin-right: 30px;
    margin-bottom: 30px;
}

.team-border-portf{
padding-top: 30px;
padding-bottom: 30px;
}

.list .content-li:hover{
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.list .content-li:nth-child(3n){
    margin-right: 0px;
}

.list .content-li:nth-child(n + 7){
    margin-bottom: 0px;
}


.list-name{
padding: 0px;
margin-bottom: 4px;
margin-top: 0px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}

.list-surname{
padding: 0px;
margin: 0px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.list .content-li .team-border{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    }



    /* Footer */

.footer-main{
background-color: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
        
.footer-border{
padding-left: 215px;
}
        
.container-foot{
padding: 0px;
margin: 0px;
}
        
.container-foot .content-li{
margin-bottom: 9px;
}

.container-foot .content-li:nth-child(2n){
    margin-bottom: 0px;
}

.footer{
    display: flex;
    align-items: baseline;
}

.h3-ul{
    margin-left: 70px;
}


.title-down{
margin-bottom: 20px;
display: inline-block;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
color: #2196F3;
text-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accent-footer{
    color:#FFFFFF;
}


.comein{
padding: 0px;
margin-bottom: 20px;
margin-top: 0px;
font-family: inherit;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.footer-social-list{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.footer-social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    /* fill: #FFFFFF; */
}


.footer-social-item:nth-child(4n){
    margin-right: 0px;
}

.footer-social-icon{
    width: 20px;
    height: 20px;
}

.footer-social-link{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#2a2b33de;
    }
    
    .footer-social-link:hover,
    .footer-social-link:focus{
        background-color: #2196F3;
    }
    
    .footer-social-link:hover .footer-social-icon,
    .footer-social-link:focus .footer-social-icon{
     fill: #FFFFFF;
}





/* Adress nav */

.address{
padding: 0px;
margin-top: 0px;
margin-bottom: 9px;
font-size: 14px;
font-style: normal;
color: #FFFFFF;
}
.mail{
font-size: 14px;
font-style: normal;
color: #FFFFFF99;
}
.tel{
font-size: 14px;
font-style: normal;
color: #FFFFFF99;
}


/* MAIN PAGE */


.body-main{

background-color: #FFFFFF;
}



.hero{
/* padding-top: 200px;
padding-bottom: 200px; */
text-align: center;
/* background-color: #2F303A; */
}

.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-overlay.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
}

.page-main{
/* padding: 0px; */
margin: 0px;
padding-top: 200px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.overlay .btn-main{
min-width: 200px;
border-radius: 5px;
padding: 12px 32px;
margin-top: 30px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
background: #2196F3;
color: white;
font-family: inherit;
}

.hang{
    padding-top: 112px;
}


.content{
 display: flex;
 margin: 0px;
 padding: 0px;
}

.content .content-li{
flex-basis: calc(100% / 4);
margin-right: 30px;
}

.content .content-li:nth-child(4n) {
margin-right: 0px;
}


.main-content{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
}

.about-main{
margin: 0px;
padding: 0px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.whatwedo{
    padding-top: 94px;
    padding-bottom: 94px;
}

.content-whatwedo{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.content-whatwedo .content-li{
    padding: 0px;
    margin: 0px;
    width: 370px;
    margin-right: 30px;
}

.content-whatwedo .content-li:nth-child(3n){
    margin-right: 0px;
}

.row-main{
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}


.our-team{ 
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
    }

.row-team{
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.container-team{
margin: 0px;
padding: 0px;
display: flex;
text-align: center;
}

.container-team .content-li{
    width: 270px;
    margin-right: 30px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);;
    
}


.container-team .content-li:nth-child(4n){
    margin-right: 0px;
}

.team-border{
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.team-name{
padding: 0px;
margin-bottom: 10px;
margin-top: 0px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}

.team-position{
padding: 0px;
margin: 0px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}

.team-social-list{
    padding: 0px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.team-social-item{
    width: 44px;
    height: 44px;
}

.team-social-item + .team-social-item{
    margin-left: 10px;
}

.team-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;

}

.team-social-link:hover,
.team-social-link:focus{
    background-color: #2196F3;
    fill: #FFFFFF;
}



.team-social-item:hover,
.team-social-item:focus{
/* background-color: #2196F3; */
border-radius: 50%;
}



.team-social-icon{
    width: 20px;
    height: 20px; 
} 

/* .team-social-icon:hover,
.team-social-icon:focus{
    fill: #FFFFFF;
} */

.icon-mail{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}



.icon-smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.customers-list{
    display: flex;
    padding: 0px;
    margin: 0px;
}


.customers-icon{
    width: 106px;
    height: 60px;
    background-position: center;
    /* fill: #AFB1B8; */
}


.customers-item{
    margin-right: 30px;
    width: 170px;
    height: 92px;
}


.customers-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 4px;
    border-color: #AFB1B8;
    fill: #AFB1B8;
}

.customers-link:hover,
.customers-link:focus{
    border-color: #2196F3;
    fill: #2196F3;
}

.customers-item:nth-child(6n){
    margin-right: 0px;
}

.customers-section{
    margin-top: 94px;
    margin-bottom: 94px;
}

.customers{
    padding-bottom: 50px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}




.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.icon-antena{
    width: 70px;
    height: 70px;
    background-position: center;
}

.icon-clock{
    width: 70px;
    height: 70px;
}

.icon-diagram{
    width: 70px;
    height: 70px;
}

.icon-astronaut{
    width: 70px;
    height: 70px;
}



